{% extends 'base.html.twig' %}

{% block title %}Toutes les recettes{% endblock %}

{% block body %}
    <p>
        Lorem blabu gtre dqhdojsdh dqhkd fdsqfhdi fidhdd df dsijhfodfoi Lorem blabu gtre dqhdojsdh dqhkd fdsqfhdi fidhdd df dsijhfodfoi Lorem blabu gtre dqhdojsdh dqhkd fdsqfhdi fidhdd df dsijhfodfoi
    </p>
    <ul class="navbar-nav">
         
        <li class="nav-item">
            <a class="navbar-link" href="{{ path('recipe.show', {id: 32, slug: 'pate-bolognaise'}) }}">Pâte bolognaise</a>
        </li>
    </ul>
{% endblock %}
